
.logo {
	max-width: 4rem;
}


.mikao-usui {
	max-width: 60%;	
}

.crystal-img {
	max-width: 100%;
}

.table-image {
	width: 100px;
}

.reiki-rate {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.card:hover {
	box-shadow: 2px 2px 8px #ccc;
}

.reiki-summary {
	margin-bottom: 0.5rem;
}

.reiki-description {
	width: 80%;
	margin: auto;
}


.reiki-description:last-child {
	margin-bottom: 3rem;
}
