
.logo {
	max-width: 4rem;
}


.mikao-usui {
	max-width: 60%;	
}

.crystal-img {
	max-width: 100%;
}

.table-image {
	width: 100px;
}

.reiki-rate {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.card:hover {
	box-shadow: 2px 2px 8px #ccc;
}

.reiki-summary {
	padding: 0 8rem;
	margin-bottom: 0.5rem;
}

.reiki-description {
	width: 50%;
	margin: auto;
	padding: 1rem 0 3rem 0;
}